archive/experiments/advanced_calibrated_analysis/presets/*.txt
.worktrees/
writeup/master/*.aux
writeup/master/*.fdb_latexmk
writeup/master/*.fls
writeup/master/*.lof
writeup/master/*.log
writeup/master/*.lot
writeup/master/*.out
writeup/master/*.toc
writeup/master/*.synctex.gz
archive/writeups/*.aux
archive/writeups/*.fdb_latexmk
archive/writeups/*.fls
archive/writeups/*.log
archive/writeups/*.out
archive/writeups/*.spl
archive/writeups/*.synctex.gz
archive/writeups/*.toc
archive/writeups/*.lof
archive/writeups/*.lot
